$generic-border-radius: 12px !default;

$button-border-radius: 12px !default;
$button-font-size: 16px !default;
$button-font-weight: 600 !default;

$editor-border-color: rgba(0, 0, 0, 0.24) !default;

$input-font-size: 16px !default;
$body-font-size: 16px !default;
